@charset "utf-8";

/* cssリセット */
body,
h1,
h2,
ul,
li,
p {
    margin: 0;
    margin: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4c4c4c;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}


/* pcのレイアウトを作ってみる。幅960px 背景色#eeeeee */

body {
    background-color: #eeeeee;
}

.service-wrap {
    max-width: 960px;
    margin: 50 auto;
}

h1 {
    font-size: 27px;
    color: #398072;
    margin: 70px;
    text-align: center;
}

.ser-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ser-list-item {
    background-color: #ffffff;
    margin: 1%;
}

h2 {
    color: #398072;
    margin: 10px;
    border-left: 10px solid;
    padding: 3px;
}

/* 山口先生へ 質問です。
写真直下の「■サービス〜」の長方形についてですが、
最終的にはh2タグ「サービス」のborderとして作りました（61行目）。
h2:before { 
	content: '■';
	background-color: #398072;
}
こちらを使って、作ることもできますか？
実は最初、borderで作れることに気づかず、
長方形を置いて作るものと思い込んで調べていました。
ですが、長方形のサイズを指定することが（私には）できなかったので断念しました笑。
（そして、できない〜〜と半泣きで彷徨っているうちにようやく気づくという…そんなひどい状況でした。
まだ全然慣れなくて、一つ一つゆっくり考えないと作れません。すらすらできるようになりたいです。）
*/

p {
    padding: 10px;
    line-height: 1.5;
}


/* 400px以下で縦に並べる。（work2pcのレイアウトに変更） 
画像が330pxしかないのでwidth:100%で無理やり広げてください。*/
  
@media screen and (max-width: 400px) {
    .ser-list {
        display: block;
    }
    
    .ser-list-item {
        margin: 20px 5%;
    }

    img {
        max-width: 100%;
    }
}

/* もう一つ質問です。
「画像が330pxしかないのでwidth:100%で無理やり広げてください。」の指示については
98行目で解決していますか？
この98行目、cssリセットの23行目と重複しますかね… ???
（重複だとしたら、指示は解決していない… ???）
今回の課題で、ここが分かりきっていないようで、少しモヤモヤしています。
お手数ですが、助言いただけたらありがたいです！
 */
